useDynLib(CARBayesST, .registration = TRUE)
export(
     ST.CARlinear,
     ST.CARar,
     ST.CARanova,
     ST.CARadaptive,
     ST.CARclustrends,
     ST.CARlocalised,
     ST.CARsepspatial
)

S3method(print, CARBayesST)
S3method(fitted, CARBayesST)
S3method(model.matrix, CARBayesST)
S3method(coef, CARBayesST)
S3method(residuals, CARBayesST)
S3method(logLik, CARBayesST)
import(spam)
import(MASS)
import(testthat)
importFrom(truncnorm, rtruncnorm, dtruncnorm)
import(Rcpp)
importFrom(truncdist, rtrunc)
import(CARBayesdata)
import(stats)
import(leaflet)
import(rgdal)
import(ggplot2)
importFrom(gtools, rdirichlet, ddirichlet)
importFrom(matrixStats, rowMaxs)
importFrom(coda, mcmc, geweke.diag, effectiveSize, HPDinterval, mcmc.list, gelman.diag)
importFrom(utils, setTxtProgressBar, txtProgressBar)
importFrom(spdep, mat2listw, moran.mc, n.comp.nb, nb2listw, nb2mat, poly2nb)
importFrom(matrixcalc, is.symmetric.matrix)
importFrom(sp, spplot)
importFrom(dplyr, summarise, mutate, group_by)
importFrom(GGally, ggpairs)
importFrom(gridExtra, grid.arrange)



